.serviceImg{
    height: 300px;
    width: 345px;
}

.card{
    height: 420px;
}

.primary{
    height: 290px;
    width: 348px;
}

.card{
    height: 420px;
}

.biology{
    height: 450px;
    width: 345px;
}

.card{
    height: 420px;
}

.shyam{
    height: 450px;
    width: 346px;
}

.card{
    height: 420px;
}

.hari{
    height: 300px;
    width: 347px;
}

.card{
    height: 420px;
}

.auto{
    height: 350px;
    width: 346px;
}
.card{
    height: 420px;
}